<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Launcher.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>LauncherApplication.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>NetworkHelper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TomatoNetwork.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>532B53461E8F20AC007836D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53E2D26D1E88E24000ACAFD8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53F319961E913751009D5A1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53F319A41E913751009D5A1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53F319AF1E913751009D5A1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
